{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel='stylesheet' href='{% static 'css/community.css' %}' />
{% endblock %}

{% block content %}
  <section class='current-book'>
    {% if current_book %}
      <h1>Current Book: {{ current_book.title }}</h1>
      <p>Author: {{ current_book.author }}</p>
      <p>Genre: {{ current_book.genre }}</p>
      <p>Description: {{ current_book.description }}</p>
      <img src="" alt="{{ current_book.title }} cover">
    {% else %}
      <h1>No current book selected.</h1>
    {% endif %}
  </section>

    <section class='all-books'>
    <h2>All Books Submitted by Users</h2>
    {% if all_books %}
      <ul>
        {% for book in all_books %}
          <li>
            <a href="{% url 'book-detail' book.id %}"><strong>{{ book.title }} by {{ book.author }}</strong>
            <div class="book-details">
            Submitted by {{ book.user.username }} (Joined: {{ book.user.date_joined|date:"Y-m-d" }})
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No books submitted by users yet.</p>
    {% endif %}
  </section>

{% endblock %}