{% extends 'base.html' %} 
{% load static %} 
{% block head %}

  <link rel='stylesheet' href='{% static 'css/home.css' %}' />

{% endblock %} 
{% block content %}

<section class='logo-container'>
  <div class='book-container'></div>
  <img src='' alt='Text reads: BigBack BookClub' />
</section>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% else %}

  <section class='current-book'>
    <h1>Current Book</h1>
    {% if current_book %}
      <h2><a href="{% url 'book-detail' current_book.id %}">{{ current_book.title }}</a></h2>
      <p>Author: {{ current_book.author }}</p>
      <p>Genre: {{ current_book.genre }}</p>
      <p>Description: {{ current_book.description }}</p>
      {% if current_book.image %}
        <img src="{{ current_book.image.url }}" alt="{{ current_book.title }} cover">
      {% endif %}
    {% else %}
      <p>No current book available.</p>
    {% endif %}
  </section>

  <section class='book-list'>
    <h1>Your Other Books</h1>
    <ul>
      {% for book in user_books %}
        <li>
          <h3>{{ book.title }}</h3>
          <p>Author: {{ book.author }}</p>
        </li>
      {% empty %}
        <li>No book available at the moment.</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% endblock %}